.container {
  width: 100%;
  height: auto;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
}
.container .parents {
  width: 400px;
  height: 540px;
  border: none;
}
.container .parents .navbar {
  background-image: url(rasim/tabiat.jpg);
  width: 400px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.container .parents .navbar .box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}
.container .parents .navbar .box2 .header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  margin-top: 20px;
  font-weight: bold;
  color: white;
  font-size: 22px;
}
.container .parents .navbar .get {
  color: white;
  background: none;
  margin-top: 10px;
  margin-left: 60px;
}
.geticon {
  background: none;
  border: none;
  color: rgb(142, 182, 182);
  margin-top: 15px;
  margin-left: 160px;
}

.container .parents .tour {
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.sana {
  margin: 10px;
  margin-left: 30px;
  margin-top: 15px;

  /* text-align: justify; */
}
.parents .sana .sana1 {
  display: flex;
  font-size: 9px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sana .sana11 {
  display: flex;
  gap: 20px;
}
.parents .sana .sana2 {
  display: flex;
  font-size: 9px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sana2 .sana21 {
  display: flex;
  gap: 20px;
}
.parents .sana .sana3 {
  display: flex;
  font-size: 9px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sana3 .sana31 {
  display: flex;
  gap: 20px;
}
.parents .sana .sana4 {
  display: flex;
  font-size: 9px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sana .sana41 {
  display: flex;
  gap: 20px;
}
.parents .sana .sana5 {
  display: flex;
  font-size: 9px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sana .sana51 {
  display: flex;
  gap: 20px;
}
.parents .sana .sana6 {
  display: flex;
  font-size: 9px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sana .sana61 {
  display: flex;
  gap: 20px;
}
.mobil {

  margin-right: 10px;
  text-align: center;
}
.buy {
  color: white;
  background-color: rgb(2, 185, 185);
  border-radius: 5px;
  border: none;
  width: 80px;
  height: 20px;
  font-size: 10px;
}

.container .parents .foter {
  width: 400px;
  height: 50px;
  background-color: rgb(30, 150, 150);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .parents .foter .header {
  font-size: larger;
  color: white;
  margin-left: 15px;
}
.foter .icon {
  color: white;
  display: flex;
  gap: 10px;
  margin-right: 20px;
}
