* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* <!-- starting colorful section --> */

.main .container {
  position: relative;
  display: flex;
  width: 30%;
  height: 200px;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container .c {
  color: blue;
  position: absolute;
  top: 50px;
  left: 0;
  filter: opacity(60%);
  z-index: 2;
}
.container .o1 {
  color: green;
  position: absolute;
  top: 50px;
  left: 34px;
  filter: opacity(70%);
  z-index: 3;
}
.container .l {
  color: yellow;
  position: absolute;
  top: 50px;
  left: 82px;
  filter: opacity(85%);
  z-index: 1;
}
.container .o2 {
  color: rgb(182, 14, 56);
  position: absolute;
  top: 50px;
  left: 110px;
  filter: opacity(85%);
  z-index: 2;
}
.container .r {
  color: rgba(241, 51, 3, 0.966);
  position: absolute;
  top: 50px;
  left: 155px;
  filter: opacity(75%);
  z-index: 1;
}
.container .f {
  color: rgb(230, 19, 99);
  position: absolute;
  top: 50px;
  left: 195px;
  filter: opacity(70%);
  z-index: 2;
}
.container .u {
  color: rgb(49, 83, 196);
  position: absolute;
  top: 50px;
  left: 230px;
  filter: opacity(85%);
  z-index: 1;
}
.container .l1 {
  color: rgb(245, 245, 8);
  position: absolute;
  top: 50px;
  left: 275px;
  filter: opacity(75%);
  z-index: 2;
}
.main {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
}
/* <!-- ending colorful section --> */
