.container {
  width: 100%;
  height: auto;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
}
.container .parents {
  width: 350px;
  height: 540px;
  border: none;
}
.container .parents .navbar {
  background-image: url(tabiat3.img);
  width: 348px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.container .parents .navbar .box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container .parents .navbar .box2 .header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  margin-top: 20px;
  font-weight: bold;
  color: white;
  font-size: 22px;
}
.container .parents .about {
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.container .parents .img {
  width: 140px auto;
  height: 140px auto;
}
.container .parents .img .img1 {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  float: left;
  padding: 10px;
}
.container .parents .child1 {
  border: none;
  height: 400px;
  background-color: rgb(227, 235, 232);
}

.container .parents .text {
  font-size: 10px;
  padding-left: 15px;
  padding-right: 15px;
  /* margin-left: 15px;
  margin-right: 15px; */
  text-align: justify;
}
.container .parents .text1 {
  font-size: 10px;
  padding-left: 15px;
  padding-right: 15px;
  /* margin-left: 15px;
  margin-right: 15px; */
  text-align: justify;
}
.container .parents .foter {
  width: 350px;
  height: 47px;
  background-color: rgb(30, 150, 150);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .parents .foter .header {
  font-size: larger;
  color: white;
  margin-left: 15px;
}
.container .parents .foter .icon {
  color: white;
  display: flex;
  gap: 10px;
  margin-right: 20px;
}
